.everithing{
	max-width: 1280px;
}
body{
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}
.header{
	width: 1280px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	background-color: white;
	z-index: 9999999;
}
.header-line{
	margin-top: 70px;
	width: 100%;
	height: 1px;
	background-color: #caccd5;
	position: fixed;
	z-index: 9999999;
}
.logo-mum{
	width: 160px;
	height: 68px;
	margin-left: 5%;
	cursor: pointer;
	margin-top: 5px
}
.logo{
	width: 95%;
}
.nav{
	width: 65%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	margin-right: -4.5%
}
.li{
	color: #291c4f !important;
	cursor: pointer;
	outline: none !important;
	text-decoration: none !important;
	margin-top: 10px
}
.search-input{
	width: 200px;
	height: 25px
}
.line{
	width: 2px;
	height: 25px;
	background-color: #2a1c50;
	display: inline-block;
	margin-top: 5px
}
.biling{
	width: 15%;
	display: flex;
	justify-content: flex-start;
	margin-left: -20px
}
.bil-mum{
	width: 35px;
	height: 35px;
	margin-left: 30px
}
.bil{
	width: 75%;
	margin-top: 2px
}
.number{
	width: 25px;
	height: 25px;
	margin-left: 20px;
	margin-top: 5px;
	border:solid #2a1c50 0.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #df1e35
}
.product-service{
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: flex-end;
	height: 30px;
	margin-top:71px;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	z-index: 9999999;
}
.dropdown{
	width: 25%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Roboto', sans-serif;

}
.product{
	width: 100%;
	height: 100%;
	background-color: #caccd5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border:none;
	cursor: pointer;
	color: #291C4F;
}
.product:hover{
	background-color: #291C4F;
	color: white
}
.product:after{
	display: inline-block;
	margin-top: -5px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.services{
	width: 25%;
	height: 30px;
	background-color: #caccd5;
	margin-right: 7.1%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
}
#services:hover{
	color: white;
	background-color: #291C4F;
}
#services{
	color: #291C4F;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 0.1%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	width: 320px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #8C95B0 !important;
	margin-left: 24%;
	margin-top: 1px;
	color:black;
	opacity: 0.5;
}
.product-title{
	padding-bottom: 5px;
	margin-top: -3px;
	transition: transform;
}
.product-title:hover{
	color: white
}
.products{
	border:none;
	font-size: 18px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-right: -20px;
	padding-right: 50px;
}
.products:hover{
	opacity: 1;
	color: white;
}
.products:after{
	display: inline-block;
    margin-top: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: 0;
    border-bottom: .5em solid transparent;
    border-left: .5em solid transparent;
    transform: rotate(45deg);
    cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { background-color: white;}

.dropdown-2 {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #8C95B0;
  width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 66%;
}

.dropdown-2:hover .dropdown-content-2 {
  display: block;
  }
.dropdown-content-2-p{
	cursor: pointer;
}
.dropdown-content-2-p:hover{
	color: white
}
.slider-img-div{
	height: 320px;
	margin-top: 102px;
}
.slider-img{
	height: 100%;
}
.carousel{
	z-index: -1;
}
.product-slider-img-div{
	width: 100%;
	height: 900px;
}
.slide-first-half{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}
.slide-second-half{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}
.product-slider-img{
	width: 60%;
	height: 50%;
	margin-left: 18%
}
.product-slider-img-1{
	width: 60%;
	height: 50%;
	margin-left: 18%
}
.product-a{
	width: 30%;
	height: 450px
}
.product-slider-line-1{
	width: 2px;
	height: 40%;
	background-color: #291c4f;
	position: absolute;
	margin-left: -20%;

}
.product-slider-line-2{
	width: 2px;
	height: 40%;
	background-color: #291c4f;
	position: absolute;
	margin-left: 20%
}
.product-slider-line-3{
	width: 2px;
	height: 40%;
	background-color: #291c4f;
	position: absolute;
	margin-left: -20%;
}
.product-slider-line-4{
	width: 2px;
	height: 40%;
	background-color: #291c4f;
	position: absolute;
	margin-left: 20%
}
.slider-img-info-tetle{
	width: 60%;
	margin-left: 20%;
	font-size: 20px;
	color: #c5c9d7

}
.slider-img-info{
	width: 60%;
	margin-left: 20%;
	color: #291c4f;
	font-size: 16px

}
.slider-img-title{
	font-size: 22px;
	color: #291c4f;
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	width: 100%;
  	position: relative;
  	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer{
	width: 100%;
	height: 180px;
	margin-top: 50px;
	background-color: #8C95B0;
	display: flex;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
}
.footer-line{
	width: 2px;
	height: 75%;
	background-color: #291C4F;
	margin-top: 2%
}
.footer-cpyright-logo{
	width: 40%;
	margin-left: 20%
}
.footer-copyright{
	width: 30%;
	height: 75%;
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.footer-copyright-p{
	font-size: 12px;
	margin-left: 10%;
	color: #291C4F;
	margin-bottom: 0
}
.footer-prod-serv{
	width: 20%;
	height: 75%;
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.footer-product-title{
	color:#291C4F;
	font-size: 19px;
	text-decoration: blink;
}
.footer-product-p{
	font-size: 12px;
	color:#291C4F; 
}
.footer-services-title{
	color:#291C4F;
	font-size: 19px;
	text-decoration: blink;
}
.footer-contact{
	width: 30%;
	height: 75%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 2%
}
.footer-contact-dot{
	width: 4px;
	height: 4px;
	background-color: #291C4F;
	margin-top: 7px
}
.numbers{
	display: flex;
	justify-content: space-around;
	width: 73%;
	margin-left: -4px;
	color: #291C4F;
}
.mails{
	display: flex;
	justify-content: space-around;
	width: 55%;
	color: #291C4F;
	margin-left: -2px
}
.footer-contact-title{
	font-size: 19px;
	text-decoration: blink;
	color: #291C4F;
}
.footer-adress{
	color: #291C4F;
}
@media screen and (max-width: 1700px){
	.biling{
		margin-left: 0
	}
}
@media screen and (min-width: 1700px){
	.slder-img-div{
		height: 660px;
	}
	.product-a{
		height: 610px
	}
	.product-slider-line-1{
		height: 50%
	}
	.product-slider-line-2{
		height: 50%
	}
	.product-slider-line-3{
		height: 50%
	}
	.product-slider-line-4{
		height: 50%
	}
	.footer{
		margin-top: 260px
	}
}
